.custom-shape-divider-top-1686550659 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1686550659 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-top-1686550659 .shape-fill {
  fill: #07092B;
}

.custom-shape-divider-bottom-1686550730 {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686550730 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-bottom-1686550730 .shape-fill {
  fill: #07092B;
}

.custom-shape-divider-top-1686550810 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1686550810 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-top-1686550810 .shape-fill {
  fill: #07092B;
}

.custom-shape-divider-bottom-1686550849 {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686550849 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-bottom-1686550849 .shape-fill {
  fill: #07092B;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-padding-top: 61px;
}

body {
  font-family: "Nunito", sans-serif;
}

.color-span {
  color: rgb(158, 92, 215);
}

.nav-background {
  background-color: rgba(8, 6, 10, 0.8);
}

.section-title {
  position: relative;
  z-index: 5;
  color: #07092B;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background-color: rgb(39, 0, 78);
  height: 4px;
  width: 80px;
  margin: 0 auto 40px;
}

nav {
  transition: background-color 0.6s ease;
  z-index: 3;
  text-transform: uppercase;
}
nav .nav-background {
  background-color: rgb(39, 0, 78);
}
nav .navbar-toggler {
  padding: 10px 15px;
  border: 2px solid white;
}
nav .navbar-toggler:focus {
  box-shadow: none;
  border: 2px solid rgb(158, 92, 215);
}
nav .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: white;
  font-weight: bold;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: rgb(158, 92, 215);
}
nav .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}
nav .navbar-brand:hover {
  color: rgb(158, 92, 215);
}

header .fa-chevron-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 30px;
  color: white;
  z-index: 3;
  transform: translateX(-50%);
}

.hero-img {
  position: relative;
  background-image: url("../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  z-index: 0;
}

.hero-text {
  color: white;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hero-img::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
}

.services {
  position: relative;
  background-color: #07092B;
}
.services i {
  font-size: 30px;
  margin-top: 20px;
}
.services .service-card-title {
  padding: 1rem;
  font-size: 28px;
  text-transform: uppercase;
}

.about-us {
  position: relative;
  background-color: white;
}
.about-us .about-us-card-title {
  font-size: 22px;
}

.why-us {
  position: relative;
  top: -6px;
}

.contact {
  position: relative;
  background-color: #07092B;
  color: white;
}
.contact .fa-brands {
  color: white;
  font-size: 28px;
}
.contact .fa-solid {
  color: white;
  font-size: 28px;
}
.contact a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .hero-text h1 {
    font-size: 48px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 56px;
  }
}/*# sourceMappingURL=style.css.map */