.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.section-padding {
  padding: 3em 2em;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-padding-top: 61px;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.nav-background {
  background-color: rgb(4, 19, 71);
}

nav {
  transition: background-color 0.6s ease;
  z-index: 100;
  text-transform: uppercase;
}
nav .navbar-items {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .nav-link {
  padding: 0.5em;
  font-size: 1.4rem;
}
nav .navbar-toggler {
  padding: 10px 15px;
  border: 2px solid white;
}
nav .navbar-toggler:focus {
  box-shadow: none;
  border: 2px solid rgba(52, 89, 221, 0.801);
}
nav .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: white;
  font-weight: bold;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: rgba(52, 89, 221, 0.801);
}
nav .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
nav .navbar-brand:hover {
  color: rgba(52, 89, 221, 0.801);
}

header .fa-chevron-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 30px;
  color: white;
  z-index: 3;
  transform: translateX(-50%);
}

.hero-img {
  position: relative;
  background-image: url("../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  z-index: 0;
}

.hero-text {
  color: white;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.hero-text span {
  color: rgba(52, 89, 221, 0.801);
}
.hero-text h1 {
  font-size: 2rem;
}
.hero-text p {
  padding: 1em;
  font-size: 1.4rem;
}

.hero-img::before {
  content: "";
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
}

.hero-btn {
  width: 200px;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  z-index: 1;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  text-transform: uppercase;
  align-self: center;
  transition: background-color 0.7s;
}
.hero-btn:hover {
  background-color: rgba(52, 89, 221, 0.801);
}

.about-us {
  height: 100%;
  width: 100%;
}
.about-us__boxes {
  display: flex;
  flex-direction: column;
}
.about-us__box {
  width: 100%;
  height: 100%;
}
.about-us__box-heading {
  text-transform: uppercase;
  margin-top: 0.5em;
  text-align: center;
  padding: 0.5em;
  font-size: 2rem;
}
.about-us__box-text {
  position: relative;
  z-index: 5;
  padding: 1em;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}
.about-us__box-img {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../img/tiler-working-renovation-apartment.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(52, 89, 221, 0.801);
}
.about-us__box-img::before {
  position: absolute;
  border-radius: 8px;
  content: "";
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.95), rgba(42, 10, 184, 0.75));
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.services__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.services__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__card {
  height: 400px;
  width: 100%;
  margin-bottom: 1.5em;
  box-shadow: 10px 10px 10px rgba(14, 27, 47, 0.65);
  border-radius: 8px;
  overflow: hidden;
}
.services__card-img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__card-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
  border-radius: 8px;
  overflow: hidden;
}
.services__card-img-title {
  color: white;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}
.services__card-img--one {
  background-image: url("../img/kitchen.jpg");
}
.services__card-img--two {
  background-image: url("../img/bathroom.jpg");
}
.services__card-img--three {
  background-image: url("../img/painting.jpg");
}
.services__card-img--four {
  background-image: url("../img/master-is-applying-white-putty-wall-smearing-by-putty-knife-room-renovating-house-daytime.jpg");
}
.services__card-img--five {
  background-image: url("../img/laying-ceramic-tiles.jpg");
}
.services__card-img--six {
  background-image: url("../img/flooring.jpg");
}

.adv {
  position: relative;
  background-image: url(../img/adv-small.jpg);
  background-size: cover;
  background-position: center;
}
.adv::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.95), rgba(42, 10, 184, 0.75));
}
.adv .adv__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 1;
  padding: 3em;
}
.adv .adv__hero-heading {
  color: white;
  z-index: 1;
  text-align: center;
  margin-bottom: 1em;
  align-self: center;
}
.adv .adv__hero-btn {
  width: 200px;
  text-align: center;
  padding: 0.5em;
  z-index: 1;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  text-transform: uppercase;
  align-self: center;
  transition: background-color 0.7s;
}
.adv .adv__hero-btn:hover {
  background-color: rgba(52, 89, 221, 0.801);
}

.why-us__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us__card-img {
  background-image: url("../img/210.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  background-position: center;
}
.why-us__card-accordion {
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(14, 27, 47, 0.65);
}

.reviews {
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65)), url("../img/reviews-small.jpg");
  background-size: cover;
  background-position: center;
}
.reviews .section-heading {
  color: white;
}
.reviews__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__card {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 3em;
  background: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(52, 89, 221, 0.801);
  transition: all 0.7s;
}
.reviews__card:hover {
  background-color: rgba(52, 89, 221, 0.801);
  color: white;
}
.reviews__card:hover .reviews__card-quote {
  color: white;
}
.reviews__card-img {
  position: absolute;
  top: -47px;
  right: 5px;
}
.reviews__card-img img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.reviews__card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.reviews__card .rewiews__card-text {
  font-size: 1.4rem;
}
.reviews__card-quote {
  font-size: 2rem;
  color: rgba(52, 89, 221, 0.801);
}
.reviews__card-name {
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.4rem;
}

.contact__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__box {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.contact__box-text {
  text-align: center;
  font-size: 1.4rem;
  padding: 1em;
}
.contact__box-form {
  text-align: center;
  padding: 4em 2em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 19, 71);
}
.contact__box-form label {
  color: white;
  margin: 0.5em 0;
  font-size: 1.4rem;
}
.contact__box-form textarea {
  padding: 0 1em;
}
.contact__box-info-text {
  text-align: center;
  font-size: 1.4rem;
  margin: 2em 0;
}
.contact__box-info-text i {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  color: rgb(4, 19, 71);
}

@media (min-width: 767px) {
  .about-us__box-text {
    font-size: 1.2rem;
  }
  .services__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .services__card {
    width: 40%;
    margin: 1em;
  }
  .why-us__cards {
    flex-direction: row;
    gap: 4em;
  }
  .why-us__card-img {
    height: 400px;
  }
  .why-us__card-accordion {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .hero-text h1 {
    font-size: 3.6rem;
  }
  .hero-text p {
    font-size: 1.8rem;
  }
  .about-us__box-text {
    font-size: 1.4rem;
  }
  .adv {
    padding: 8em;
    background-image: url(../img/adv.jpg);
  }
  .reviews__cards {
    flex-direction: row;
  }
  .reviews__card {
    margin: 2em;
    width: 30%;
  }
  .contact__boxes {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }
  .contact__box {
    width: 45%;
    box-shadow: 5px 5px 10px rgba(52, 89, 221, 0.801);
    border-radius: 8px;
  }
  .contact__box-text {
    border: 2px solid rgba(52, 89, 221, 0.801);
    border-radius: 8px;
    padding: 2em;
  }
  .contact__box-form {
    padding: 5em 2em;
  }
  .contact__box-info {
    border: 2px solid rgba(52, 89, 221, 0.801);
    border-radius: 8px;
  }
}
@media (min-width: 1100px) {
  .services__card {
    width: 30%;
  }
  .contact__box {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */