.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.section-padding {
  padding: 3em 2em;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-padding-top: 61px;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.nav-background {
  background-color: rgba(45, 2, 106, 0.95);
}

nav {
  transition: background-color 0.6s ease;
  z-index: 100;
  text-transform: uppercase;
}
nav .nav-background {
  background-color: white;
}
nav .navbar-toggler {
  padding: 10px 15px;
  border: 2px solid white;
}
nav .navbar-toggler:focus {
  box-shadow: none;
  border: 2px solid rgb(130, 48, 181);
}
nav .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: white;
  font-weight: bold;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: rgb(190, 10, 214);
}
nav .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}
nav .navbar-brand:hover {
  color: rgb(190, 10, 214);
}

header .fa-chevron-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 30px;
  color: white;
  z-index: 3;
  transform: translateX(-50%);
}

.hero-img {
  position: relative;
  background-image: url("../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  z-index: 0;
}

.hero-text {
  color: white;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hero-img::before {
  content: "";
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
}

.about-us {
  margin-top: 2em;
  height: 100%;
  width: 100%;
}
.about-us__boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4em;
}
.about-us__box {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  margin-right: 2em;
}
.about-us__box-heading {
  text-transform: uppercase;
  margin-top: 0.5em;
  text-align: center;
  padding: 0.5em;
  font-size: 2rem;
}
.about-us__box-text {
  padding: 0.5em;
  text-align: center;
}
.about-us__box-img {
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url("../img/tiler-working-renovation-apartment.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.about-us__box-img::before {
  position: absolute;
  border-radius: 8px;
  content: "";
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.services__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.services__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__card {
  height: 400px;
  width: 100%;
  margin-bottom: 1.5em;
}
.services__card-img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__card-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
  border-radius: 8px;
}
.services__card-img-title {
  color: white;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}
.services__card-img--one {
  background-image: url("../img/kitchen.jpg");
}
.services__card-img--two {
  background-image: url("../img/bathroom.jpg");
}
.services__card-img--three {
  background-image: url("../img/painting.jpg");
}
.services__card-img--four {
  background-image: url("../img/master-is-applying-white-putty-wall-smearing-by-putty-knife-room-renovating-house-daytime.jpg");
}
.services__card-img--five {
  background-image: url("../img/laying-ceramic-tiles.jpg");
}
.services__card-img--six {
  background-image: url("../img/flooring.jpg");
}

.adv {
  position: relative;
  background-image: url(../img/adv-small.jpg);
  background-size: cover;
  background-position: center;
}
.adv::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.65), rgba(42, 10, 184, 0.65));
}
.adv .adv__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 1;
  padding: 3em;
}
.adv .adv__hero-heading {
  width: 400px;
  color: white;
  z-index: 1;
  text-align: center;
  margin-bottom: 1em;
  align-self: center;
}
.adv .adv__hero-btn {
  width: 200px;
  text-align: center;
  padding: 0.5em;
  z-index: 1;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  text-transform: uppercase;
  align-self: center;
}

.why-us__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us__card-img {
  background-image: url("../img/210.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  background-position: center;
}
.why-us__card-accordion {
  width: 80%;
}

@media (min-width: 767px) {
  .services__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .services__card {
    width: 40%;
    margin: 1em;
  }
  .why-us__cards {
    flex-direction: row;
    gap: 4em;
  }
  .why-us__card-img {
    height: 400px;
  }
  .why-us__card-accordion {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .about-us__boxes {
    flex-direction: row;
    align-items: center;
  }
  .about-us__box {
    margin: 5em;
  }
  .about-us__box--left {
    width: 40%;
  }
  .about-us__box--right {
    width: 60%;
  }
  .adv {
    padding: 8em;
    background-image: url(../img/adv.jpg);
  }
}
@media (min-width: 1100px) {
  .services__card {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */