@use '../sass/colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section-padding {
	padding: 3em 2em;
}

.section-heading {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
}