// $basic-color:white;
$primary-color:rgb(158, 92, 215);
$secondary-color:rgb(39, 0, 78);

.custom-shape-divider-top-1686550659 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1686550659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

.custom-shape-divider-top-1686550659 .shape-fill {
    fill: #07092B;
}


// BOTTOM

.custom-shape-divider-bottom-1686550730 {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1686550730 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

.custom-shape-divider-bottom-1686550730 .shape-fill {
    fill: #07092B;
}

.custom-shape-divider-top-1686550810 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1686550810 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

.custom-shape-divider-top-1686550810 .shape-fill {
    fill: #07092B;
}

.custom-shape-divider-bottom-1686550849 {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1686550849 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 108px;
}

.custom-shape-divider-bottom-1686550849 .shape-fill {
    fill: #07092B;
}


