@use '../sass/colors' as *;
@use '../sass/addons' as *;

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

html {
	scroll-padding-top: 61px;
}

body {
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav-background {
	background-color: rgb(4, 19, 71);
}

nav {
	transition: background-color 0.6s ease;
	// background-color: colors.$secondary-color;
	z-index: 100;

	text-transform: uppercase;
	.navbar-items {
		padding: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-link {
		padding: 0.5em;
		font-size: 1.4rem;
	}

	.navbar-toggler {
		padding: 10px 15px;
		border: 2px solid white;
	}
	.navbar-toggler:focus {
		box-shadow: none;
		border: 2px solid rgba(52, 89, 221, 0.801);
	}

	.nav-link,
	.navbar-brand,
	.fa-bars {
		color: white;
		font-weight: bold;
	}
	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: rgba(52, 89, 221, 0.801);
	}
	.navbar-brand {
		font-weight: bold;
		letter-spacing: 1px;
	}

	.navbar-brand:hover {
		color: rgba(52, 89, 221, 0.801);
	}
}

// Header

header {
	.fa-chevron-down {
		position: absolute;
		bottom: 5%;
		left: 50%;
		font-size: 30px;
		color: white;
		z-index: 3;
		transform: translateX(-50%);
	}
}

.hero-img {
	position: relative;
	background-image: url('../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	z-index: 0;
}
.hero-text {
	color: white;
	height: 100%;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	span {
		color: $hover-color;
	}
	h1 {
		font-size: 2rem;
	}
	p {
		padding: 1em;
		font-size: 1.4rem;
	}
}
.hero-img::before {
	content: '';
	background: $main-gradient;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
}

// ABOUT

.about-us {
	height: 100%;
	width: 100%;

	&__boxes {
		display: flex;
		flex-direction: column;
	}
	&__box {
		width: 100%;

		height: 100%;
		&-heading {
			text-transform: uppercase;
			margin-top: 0.5em;
			text-align: center;
			padding: 0.5em;
			font-size: 2rem;
		}
		&-text {
			position: relative;
			z-index: 5;
			padding: 1em;
			font-size: 1.2rem;
			color: white;
			text-align: center;
		}
		&-img {
			position: relative;
			height: 100%;
			width: 100%;
			background-image: url('../img/tiler-working-renovation-apartment.jpg');
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			box-shadow: 5px 5px 10px $shadow-color;
			&::before {
				position: absolute;
				border-radius: 8px;
				content: '';
				background: $main-gradient-dark;
				z-index: 1;
				height: 100%;
				width: 100%;
				background-size: cover;
			}
		}
	}
}

// SERVICES

.services {
	&__heading {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		height: 400px;
		width: 100%;
		margin-bottom: 1.5em;
		box-shadow: 10px 10px 10px rgba(14, 27, 47, 0.65);
		border-radius: 8px;
		overflow: hidden;
		&-img {
			position: relative;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: $main-gradient;
				border-radius: 8px;

				overflow: hidden;
			}

			&-title {
				color: white;
				z-index: 1;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 2rem;
			}
			&--one {
				background-image: url('../img/kitchen.jpg');
			}
			&--two {
				background-image: url('../img/bathroom.jpg');
			}
			&--three {
				background-image: url('../img/painting.jpg');
			}
			&--four {
				background-image: url('../img/master-is-applying-white-putty-wall-smearing-by-putty-knife-room-renovating-house-daytime.jpg');
			}
			&--five {
				background-image: url('../img/laying-ceramic-tiles.jpg');
			}
			&--six {
				background-image: url('../img/flooring.jpg');
			}
		}
	}
}
//hero
.adv {
	position: relative;

	background-image: url(../img/adv-small.jpg);
	background-size: cover;
	background-position: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: $main-gradient-dark;
	}
	.adv__hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		z-index: 1;
		padding: 3em;
		&-heading {
			color: white;
			z-index: 1;
			text-align: center;
			margin-bottom: 1em;
			align-self: center;
		}
		&-btn {
			width: 200px;
			text-align: center;
			padding: 0.5em;
			z-index: 1;
			border: 2px solid white;
			border-radius: 8px;
			background: none;
			color: white;
			text-transform: uppercase;
			align-self: center;
			transition: background-color 0.7s;
			&:hover {
				background-color: $hover-color;
			}
		}
	}
}

.why-us {
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card-img {
		background-image: url('../img/210.jpg');
		background-size: cover;
		height: 300px;
		width: 300px;
		background-position: center;
	}
	&__card-accordion {
		width: 80%;
		border-radius: 8px;
		box-shadow: 10px 10px 10px rgba(14, 27, 47, 0.65);
	}
}

// REVIEWS

.reviews {
	@include heroImages('../img/reviews-small.jpg');
	.section-heading {
		color: white;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__card {
		position: relative;
		height: 100%;
		width: 100%;
		margin: 3em;
		background: white;
		border-radius: 8px;
		box-shadow: 5px 5px 10px $shadow-color;
		transition: all 0.7s;
		&:hover {
			background-color: $hover-color;
			color: white;
			.reviews__card-quote {
				color: white;
			}
		}
		&-img {
			position: absolute;
			top: -47px;
			right: 5px;
			img {
				height: 100px;
				width: 100px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			padding: 2em;
		}
		.rewiews__card-text {
			font-size: 1.4rem;
		}
		&-quote {
			font-size: 2rem;
			color: rgba(52, 89, 221, 0.801);
		}
		&-name {
			align-self: flex-end;
			font-weight: bold;
			font-size: 1.4rem;
		}
	}
}

// Media/

@media (min-width: 767px) {
	.about-us {
		&__box {
			&-text {
				font-size: 1.2rem;
			}
		}
	}
	.services {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__card {
			width: 40%;
			margin: 1em;
		}
	}
	.why-us {
		&__cards {
			flex-direction: row;
			gap: 4em;
		}
		&__card-img {
			height: 400px;
		}
		&__card-accordion {
			width: 60%;
		}
	}
}

@media (min-width: 992px) {
	.about-us {
		&__box {
			&-text {
				font-size: 1.4rem;
			}
		}
	}
	.adv {
		padding: 8em;
		background-image: url(../img/adv.jpg);
	}
	.reviews {
		&__cards {
			flex-direction: row;
		}
		&__card {
			margin: 2em;
			width: 30%;
		}
	}
}

@media (min-width: 1100px) {
	.services {
		&__card {
			width: 30%;
		}
	}
}
