@use '../sass/colors' as *;
@use '../sass/addons' as *;

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	scroll-behavior:smooth;
}

html {
	scroll-padding-top: 61px;
}

body {
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav {
	// position: relative;
	z-index: 10;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	width: 100%;
	height: 100%;
	display: none;
	transition: all 0.7s;
	&_items {
		height: 100%;
		width: 100%;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&_item {
		color: $main-color;
		text-decoration: none;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}

.active {
	display: block;
	transition: .7s;
}
.burger-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 290;
	font-size: 36px;
	color:white;
	background: none;
	border: none;
	cursor: pointer;
}


// Header

header {
	.fa-chevron-down {
		position: absolute;
		bottom: 10%;
		left: 50%;
		font-size: 30px;
		color: white;
		z-index: 3;
		transform: translateX(-50%);
	}
}

.hero-img {
	position: relative;
	background-image: url('../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	z-index: 0;
}
.hero-text {
	color: white;
	height: 100%;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	span {
		color: $hover-color;
	}
	h1 {
		font-size: 2rem;
	}
	p {
		padding: 1em;
		font-size: 1.4rem;
	}
}
.hero-img::before {
	content: '';
	background: $main-gradient2;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
}

.hero-btn {
	width: 200px;
	text-align: center;
	text-decoration: none;
	padding: 0.5em;
	z-index: 1;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	text-transform: uppercase;
	align-self: center;
	transition: background-color 0.7s;
	&:hover {
		background-color: $hover-color;
	}
}

// ABOUT

.about-us {
	background-color: black;
	height: 100%;
	width: 100%;

	&__boxes {
		display: flex;
		flex-direction: column;
	}
	&__box {
		width: 100%;

		height: 100%;
		&-heading {
			text-transform: uppercase;
			margin-top: 0.5em;
			color: white;
			text-align: center;
			padding: 0.5em;
			font-size: 2rem;
		}
		&-text {
			position: relative;
			z-index: 5;
			padding: 1em;
			font-size: 1.2rem;
			color: white;
			text-align: center;
		}
		// &-img {
		// 	position: relative;
		// 	height: 100%;
		// 	width: 100%;
		// 	background-image: url('../img/tiler-working-renovation-apartment.jpg');
		// 	background-size: cover;
		// 	background-position: center;
		// 	border-radius: 8px;
		// 	box-shadow: 5px 5px 10px $shadow-color;
		// 	&::before {
		// 		position: absolute;
		// 		border-radius: 8px;
		// 		content: '';
		// 		background: $main-gradient-dark;
		// 		z-index: 1;
		// 		height: 100%;
		// 		width: 100%;
		// 		background-size: cover;
		// 	}
		// }
	}
}

// SERVICES

.services {
	background-color: black;
	&__heading {
		color: white;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		height: 400px;
		width: 100%;
		margin-bottom: 1.5em;
		// box-shadow: 5px 5px 10px $main-color;
		border-radius: 8px;
		overflow: hidden;
		&-img {
			position: relative;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: $main-gradient;
				border-radius: 8px;

				overflow: hidden;
			}

			&-title {
				color: white;
				z-index: 1;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 2rem;
			}
			&--one {
				background-image: url('../img/kitchen.jpg');
			}
			&--two {
				background-image: url('../img/bathroom.jpg');
			}
			&--three {
				background-image: url('../img/painting.jpg');
			}
			&--four {
				background-image: url('../img/master-is-applying-white-putty-wall-smearing-by-putty-knife-room-renovating-house-daytime.jpg');
			}
			&--five {
				background-image: url('../img/laying-ceramic-tiles.jpg');
			}
			&--six {
				background-image: url('../img/flooring.jpg');
			}
		}
	}
}
//hero
.adv {
	position: relative;

	background-image: url(../img/adv-small.jpg);
	background-size: cover;
	background-position: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: $main-gradient-dark;
	}
	.adv__hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		z-index: 1;
		padding: 3em;
		&-heading {
			color: white;
			z-index: 1;
			text-align: center;
			margin-bottom: 1em;
			align-self: center;
		}
		&-btn {
			width: 200px;
			text-align: center;
			padding: 0.5em;
			z-index: 1;
			border: 2px solid white;
			border-radius: 8px;
			background: none;
			color: white;
			text-transform: uppercase;
			align-self: center;
			transition: background-color 0.7s;
			&:hover {
				background-color: $hover-color;
			}
		}
	}
}

.why-us {
	
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card-img {
		background-image: url('../img/210.jpg');
		background-size: cover;
		height: 300px;
		width: 300px;
		background-position: center;
	}
	&__card-accordion {
		background-color:black;
		border-radius: 8px;
		// box-shadow: 10px 10px 10px rgba(209, 130, 11, 0.65);
	}
}

// REVIEWS

.reviews {
	@include heroImages('../img/reviews-small.jpg');
	.section-heading {
		color: white;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__card {
		position: relative;
		height: 100%;
		width: 100%;
		margin: 3em;
		background: white;
		border-radius: 8px;
		box-shadow: 5px 5px 10px $shadow-color;
		transition: all 0.7s;
		&:hover {
			background-color: $hover-color;
			color: white;
			.reviews__card-quote,.reviews__card-name {
				color: white;
			}
		}
		&-img {
			position: absolute;
			top: -47px;
			right: 5px;
			img {
				height: 100px;
				width: 100px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			padding: 2em;
		}
		.rewiews__card-text {
			font-size: 1.4rem;
		}
		&-quote {
			font-size: 2rem;
			color: rgba(209, 130, 11, 0.801);
		}
		&-name {
			align-self: flex-end;
			font-weight: bold;
			font-size: 1.4rem;
			color: rgba(209, 130, 11, 0.801);
		}
	}
}

.contact {
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__box {
		margin-bottom: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
	}

	&__box-text {
		text-align: center;
		font-size: 1.4rem;
		// border: 2px solid $main-color;
		// border-radius: 8px;
		padding: 1em;
	}

	
	&__box-info-text {
		text-align: center;
		font-size: 1.4rem;
		margin: 2em 0;
		i {
			font-size: 2.4rem;
			margin-bottom: 0.5em;
			color: $main-color;
		}
	}
}

.footer{
	padding: 2em;
	background-color: $main-color;
	padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}
.footer {
	position: relative;
	width: 100%;
	background: $main-color;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .social-icon,
  .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
	list-style: none;
  }
  
  .social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
  }
  .social-icon__link:hover {
	transform: translateY(-10px);
  }
  
  .menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
  }
  
  .menu__link:hover {
	opacity: 1;
  }
  
  .footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
  }
  
  
  

// Media/

@media (min-width: 767px) {
	.about-us {
		&__box {
			&-text {
				font-size: 1.2rem;
			}
		}
	}
	.services {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__card {
			width: 40%;
			margin: 1em;
		}
	}
	.why-us {
		&__cards {
			flex-direction: row;
			gap: 4em;
		}
		&__card-img {
			height: 400px;
		}
		&__card-accordion {
			width: 60%;
		}
	}
}

@media (min-width: 992px) {
	.hero-text {
		h1 {
			font-size: 3.6rem;
		}
		p {
			font-size: 1.8rem;
		}
	}
	.about-us {
		&__box {
			&-text {
				font-size: 1.4rem;
			}
		}
	}
	.adv {
		padding: 8em;
		background-image: url(../img/adv.jpg);
	}
	.reviews {
		&__cards {
			flex-direction: row;
		}
		&__card {
			margin: 2em;
			width: 30%;
		}
	}
	.contact {
		&__boxes {
			align-items: start;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 3em;
		}
		&__box {
			width: 45%;

			border-radius: 8px;
		}
		&__box-text {
			padding: 2em;
		}
		&__box-form {
			padding: 5em 2em;
		}
	}
}

@media (min-width: 1100px) {
	.services {
		&__card {
			width: 30%;
		}
	}
	.contact {
		&__box {
			width: 30%;
		}
	}
}
