@use '../sass/colors' as *;
@use '../sass/addons' as *;

* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

html {
	scroll-padding-top: 61px;
}

body {
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.nav-background {
	background-color: rgba(45, 2, 106, 0.95);
}

nav {
	transition: background-color 0.6s ease;
	// background-color: colors.$secondary-color;
	z-index:100;

	text-transform: uppercase;
	.nav-background {
		background-color: white;
	}

	.navbar-toggler {
		padding: 10px 15px;
		border: 2px solid white;
	}
	.navbar-toggler:focus {
		box-shadow: none;
		border: 2px solid rgb(130, 48, 181);
	}

	.nav-link,
	.navbar-brand,
	.fa-bars {
		color: white;
		font-weight: bold;
	}
	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: rgb(190, 10, 214);
	}
	.navbar-brand {
		font-weight: bold;
		letter-spacing: 1px;
	}

	.navbar-brand:hover {
		color: rgb(190, 10, 214);
	}
}

// Header

header {
	.fa-chevron-down {
		position: absolute;
		bottom: 5%;
		left: 50%;
		font-size: 30px;
		color: white;
		z-index: 3;
		transform: translateX(-50%);
	}
}

.hero-img {
	position: relative;
	background-image: url('../img/handyman-construction-site-process-drilling-wall-with-perforator.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	z-index: 0;
}
.hero-text {
	color: white;
	height: 100%;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.hero-img::before {
	content: '';
	background: $main-gradient;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
}

// ABOUT

.about-us {
	margin-top: 2em;
	height: 100%;
	width: 100%;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 4em;
	}
	&__box {
		width: 100%;
		height: 100%;
		padding: 0.5em;
		margin-right: 2em;

		&-heading {
			text-transform: uppercase;
			margin-top: 0.5em;
			text-align: center;
			padding: 0.5em;
			font-size: 2rem;
		}
		&-text {
			padding: 0.5em;
			text-align: center;
		}
		&-img {
			position: relative;
			height: 400px;
			width: 100%;
			background-image: url('../img/tiler-working-renovation-apartment.jpg');
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			&::before {
				position: absolute;
				border-radius: 8px;
				content: '';
				background: $main-gradient;
				z-index: 1;
				height: 100%;
				width: 100%;
				background-size: cover;
			}
		}
	}
}


// SERVICES

.services {
	&__heading {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		height: 400px;
		width: 100%;
		margin-bottom: 1.5em;
		&-img {
			position: relative;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: $main-gradient;
				border-radius: 8px;
			}

			&-title {
				color: white;
				z-index: 1;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 2rem;
			}
			&--one {
				background-image: url('../img/kitchen.jpg');
			}
			&--two {
				background-image: url('../img/bathroom.jpg');
			}
			&--three {
				background-image: url('../img/painting.jpg');
			}
			&--four {
				background-image: url('../img/master-is-applying-white-putty-wall-smearing-by-putty-knife-room-renovating-house-daytime.jpg');
			}
			&--five {
				background-image: url('../img/laying-ceramic-tiles.jpg');
			}
			&--six {
				background-image: url('../img/flooring.jpg');
			}
		}
	}
}
//hero
.adv {
	position: relative;

	background-image: url(../img/adv-small.jpg);
	background-size: cover;
	background-position: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: $main-gradient;
	}
	.adv__hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		z-index: 1;
		padding: 3em;
		&-heading {
			width: 400px;
			// position: relative;
			color: white;
			z-index: 1;
			text-align: center;
			margin-bottom: 1em;
			align-self: center;
		}
		&-btn {
			width: 200px;
			text-align: center;
			padding: 0.5em;
			z-index: 1;
			border: 2px solid white;
			border-radius: 8px;
			background: none;
			color: white;
			text-transform: uppercase;
			align-self: center;
		}
	}
}

.why-us {
	
	
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card-img {
		background-image: url('../img/210.jpg');
		background-size: cover;
		height: 300px;
		width: 300px;
		background-position: center;
		
	}
	&__card-accordion{
		width: 80%;
	}
}

// Media/

@media (min-width: 767px) {
	.services {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__card {
			width: 40%;
			margin: 1em;
		}
	}
	.why-us{
		&__cards{
			flex-direction: row;
			gap: 4em;
		}
		&__card-img{
			height: 400px;
		}
		&__card-accordion{
			width: 60%;
		}
	}
}

@media (min-width: 992px) {
	.about-us {
		&__boxes {
			flex-direction: row;
			align-items: center;
		}
		&__box {
			margin: 5em;
			&--left {
				width: 40%;
			}
			&--right {
				width: 60%;
			}
		}
	}
	.adv {
		padding: 8em;
		background-image: url(../img/adv.jpg);
	}
}

@media (min-width: 1100px) {
	.services {
		&__card {
			width: 30%;
		}
		
	}
}
